body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
}

.sidebar .logo-title .title h3 {
  text-transform: capitalize;
}

.sidebar .logo-title .title a {
  text-transform: capitalize;
}

.post .post-title h1 {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.post .post-title h2 {
  font-size: 22px;
}

.post .post-title h3 {
  font-size: 18px;
  text-transform: capitalize;
}

.post .post-title h4 {
  font-size: 16px;
}

.post .post-content h2 {
  font-size: 22px;
  margin-top: 16px;
}

.post .post-content h3 {
  font-size: 18px;
  margin-top: 16px;
  text-transform: capitalize;
}

.post .post-content h4 {
  font-size: 16px;
  margin-top: 16px;
}

.description {
  margin: 1em 1em 2em;
}

.info {
  margin: 1em 0;
}

.info i {
  margin-right: 8px;
}

.date {
  margin-right: 8px;
}

.fa-clock-o {
  visibility: hidden;
}

.reading-time {
  visibility: hidden;
}

#fb_comments_container {
  margin: 32px 0 0 0;
}

#disqus_thread {
  margin: 0;
}

hr {
  visibility: hidden;
}

.post-title {
  margin-bottom: 2em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

#replybox {
  margin: 0 30px;
}

.post #replybox {
  margin: 0;
}
